{
	debug

	local_certs

	# ----- Caddy Security Settings ----------

	order authenticate before respond
	order authorize before basicauth

	security {
		local identity store localdb {
			realm local
			path /data/auth/users.json
		}

		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify {env.JWT_SHARED_KEY}
			# cookie domain {$MY_DOMAIN}
			enable identity store localdb
			ui {
				links {
					"My Website" https://test.{$MY_DOMAIN}/ icon "las la-star"
					"Guests" https://test.{$MY_DOMAIN}/guests icon "las la-star"
					"Users" https://test.{$MY_DOMAIN}/users icon "las la-star"
					"Admins" https://test.{$MY_DOMAIN}/admins icon "las la-star"
					"My Identity" "/whoami" icon "las la-user"
				}
				# password_recovery_enabled yes
			}
			transform user {
				match origin local
				action add role authp/user
				ui link "Portal Settings" /settings icon "las la-cog"
			}
		}

		authorization policy admins_policy {
			set auth url https://auth.{$MY_DOMAIN}/
			allow roles authp/admin authp/user
			crypto key verify {env.JWT_SHARED_KEY}
			acl rule {
				comment allow users
				match role authp/user
				allow stop log info
			}
			acl rule {
				comment default deny
				match any
				deny log warn
			}
		}
	}
}

auth.{$MY_DOMAIN} {
	authenticate with myportal
}

test.{$MY_DOMAIN} {
	# route /guests* {
	# 	authorize with guests_policy
	# 	respond * "test - guests only" 200
	# }

	# route /users* {
	# 	authorize with users_policy
	# 	respond * "test - users" 200
	# }

	# route /admins* {
	# 	authorize with admins_policy
	# 	respond * "test - admins" 200
	# }

	route {
		respond "test is running"
	}
}
